<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main class="mt-5">
      <h1>Edit Book with ID <%= bookId; %></h1>
      <form
        class="row g-3 needs-validation"
        action="/book/update"
        method="POST"
        novalidate
      >
        <div class="col-md-6">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="Title"
            name="Title"
            value="<%= initialBook.Title; %>"
            required
            maxlength="40"
          />
          <div class="invalid-feedback">
            Please provide a valid title.
          </div>
        </div>
        <div class="col-md-6">
          <label for="author" class="form-label">Author</label>
          <input
            type="text"
            class="form-control"
            id="Author"
            name="Author"
            value="<%= initialBook.Author; %>"
            required
            maxlength="50"
          />
          <div class="invalid-feedback">
            Please provide a valid author.
          </div>
        </div>
        <div class="col-md-6">
          <label for="genre" class="form-label">Genre</label>
          <input
            type="text"
            class="form-control"
            id="Genre"
            name="Genre"
            value="<%= initialBook.Genre; %>"
            required
            maxlength="50"
          />
          <div class="invalid-feedback">
            Please provide a valid genre.
          </div>
        </div>
        <div class="col-md-6">
          <label for="publisher" class="form-label">Publisher</label>
          <input
            type="text"
            class="form-control"
            id="Publisher"
            name="Publisher"
            value="<%= initialBook.Publisher; %>"
            required
            maxlength="50"
          />
          <div class="invalid-feedback">
            Please provide a valid publisher.
          </div>
        </div>
        <div class="col-md-6">
          <label for="publication_date" class="form-label"
            >Publication Date</label
          >
          <input
            type="date"
            class="form-control"
            id="Publication_date"
            name="Publication_date"
            value="<%= initialBook.Publication_date.toISOString().substr(0, 10) %>"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid publication date.
          </div>
        </div>
        <input type="hidden" name="bookId" value="<%= bookId %>" />
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-success"
            onclick="validateForm()"
          >
            Update
          </button>
        </div>
      </form>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>

    <script>
      function validateForm() {
        var form = document.forms[0]
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
        return form.checkValidity()
      }
    </script>
  </body>
</html>
